/* Home Page */
.page.home {
    max-width: 56rem;
    margin: 0 auto;
    width: 100%;
}

.hero {
    text-align: center;
    padding: 3rem 0;
}

.hero h1 {
    margin-bottom: 0.75rem;
}

.hero p {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-hero-start {
    background-color: #4F46E5;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.btn-hero-start:hover {
    background-color: #6366F1;
    color: white;
    cursor: pointer;
}